 * {
    box-sizing: border-box;
}


p {
	text-align: right;
	font-size: 45px;
	color: white;
}

input {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#container {
	background-color: gray;
	margin: 10px auto;
	width: 400px;
}

.numbers-container {
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.key-0 {
	grid-column-start: 1;
	grid-column-end: 2; 
}


#display {
	background-color: blue;
}






#numbers {

}